<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Document</title>
  <style>
    html, body {
      font-size: 1.0rem;
    }
    @media screen and (max-width: 480px) {
      html, body {
        font-size: 0.9rem;
      }
    }
    .container {
      max-width: 960px;
    }
    .form-control {
      height: 2.0rem;
      font-size: 0.85rem;
    }
    .list-group-item {
      padding: .55rem 1.25rem;
    }
  </style>
</head>
<body>
  <div id="app" class="container mt-4 text-center">
    <div class="my-2">
      <button type="button" class="btn btn-sm btn-danger" @click="allReset">{{ allResetCondition.label }}</button>
    </div>
    <ul class="list-group">
      <li v-for="(list, index) in lists" class="list-group-item">
        <input type="text" placeholder="メモとして活用してください" class="form-control mr-3 mb-2" v-model="list.name">
        <div class="d-flex mt-2">
          <input type="text" readonly :class="[{ 'border border-info rounded': list.status === 'running', 'border border-danger rounded': list.accumulationMilliSeconds > 0 }, 'd-block d-md-none form-control']" :value="formatMs(list.accumulationMilliSeconds)">
          <input type="text" readonly :class="[{ 'border border-info rounded': list.status === 'running', 'border border-danger rounded': list.accumulationMilliSeconds > 0 }, 'd-none d-md-block form-control']" :value="'経過時間: ' + formatMs(list.accumulationMilliSeconds)">
          <button v-show="list.status === 'stopped'" @click="startTimer(index)" :disabled="list.status === 'running'" type="button" class="mx-2 btn btn-sm btn-info">Start</button>
          <div v-show="list.status === 'running'" class="mx-3 spinner-border text-info" role="status"></div>
          <button @click="stopTimer(index)"  :disabled="list.status === 'stopped'" type="button" class="mx-2 btn btn-sm btn-info">Stop</button>
          <button @click="resetTimer(index)" type="button" class="mx-2 btn btn-sm btn-danger">Reset</button>
        </div>
      </li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script>
    const initTimer = id => {
      return {
        id: id,
        name: '',
        timer : null,                   // setInterval() を用いた、累積ミリ秒の加算用
        status : 'stopped',             // 状態(stopped: 停止, running: 実行中)
        runningAt : null,               // 計測の起点となる時点でのミリ秒
        accumulationMilliSeconds : 0,   // タイマーが動いていた累積ミリ秒
      }
    }
    const createEmptyTimer = id => new Array(15).fill('').map((v, i) => { return initTimer(i) })

    const allResetDefault = {
      status: 'default',
      label: '全リセット'
    }
    const allResetConfirm = {
      status: 'confirm',
      label: '本当に良いですか？'
    }
    // タイマーは絶えず動いているので、watch で常時処理すると負荷が高いので 10 秒おきに watch させる
    const saveTerm = 1000 * 10
    new Vue({
      el: '#app',
      data: {
        lastLocalStorageSavedAt: new Date().getTime(),
        allResetCondition: allResetDefault,
        lists: createEmptyTimer()
      },
      mounted() {
        // ローカルストレージからの復元
        if (localStorage.lists) {
          loadedLists = JSON.parse(localStorage.lists);
          // status はすべて stopped 停止状態にしておく
          this.lists = loadedLists.map( (v) => {
            v.status = 'stopped'
            return v
          })
        }
      },
      methods: {
        formatMs(_ms) {
          const hour = Math.floor(_ms / 3600000)
          const minute = Math.floor((_ms - 3600000 * hour) / 60000)
          const hh = ('00' + hour).slice(-2)
          const mm = ('00' + minute).slice(-2)
          const ms = ('00000' + (_ms % 60000)).slice(-5)
          return `${hh} 時間 ${mm} 分 ${ms.slice(0,2)}.${ms.slice(2,5)} 秒`
        },
        startTimer(id) {
          if (this.lists[id].status === 'stopped') {
            this.lists[id].status = 'running'
            this.lists[id].runningAt = Date.now()
            // 10ms ごとに経過ミリ秒を加算
            this.lists[id].timer = setInterval( () => {
              this.lists[id].accumulationMilliSeconds += (Date.now() - this.lists[id].runningAt)
              this.lists[id].runningAt = Date.now()
            }, 10)
          }
        },
        stopTimer(id) {
          if (this.lists[id].status === 'running') {
            clearInterval(this.lists[id].timer)
            this.lists[id].timer = null
            this.lists[id].status = 'stopped'
            this.lists[id].runningAt = null
          }
        },
        resetTimer(id) {
          clearInterval(this.lists[id].timer)
          this.lists[id].timer = null
          this.lists[id].status = 'stopped'
          this.lists[id].runningAt = null
          this.lists[id].accumulationMilliSeconds = 0
          localStorage.lists = JSON.stringify(this.lists)
          this.lastLocalStorageSavedAt = new Date().getTime()
          this.allResetCondition = allResetDefault
        },
        allReset() {
          if (this.allResetCondition.status === allResetDefault.status) {
            this.allResetCondition = allResetConfirm
            // その後確定しなくても 3 秒後に戻す
            setTimeout(() => {
              this.allResetCondition = allResetDefault
            }, 3000)
          } else {
            this.lists = createEmptyTimer()
            localStorage.lists = JSON.stringify(this.lists)
            this.lastLocalStorageSavedAt = new Date().getTime()
            this.allResetCondition = allResetDefault
          }
        }
      },
      watch: {
        lists: {
          handler(newValue, oldValue) {
            // ローカルストレージへの保存
            // タイマーは絶えず動いているので、毎回保存するとちょっと負荷高い
            const current = new Date().getTime()
            if (this.lastLocalStorageSavedAt + saveTerm < current) {
              localStorage.lists = JSON.stringify(this.lists)
              this.lastLocalStorageSavedAt = current
            }
          },
          deep: true
        }
      },
    })
  </script>
</body>
</html>
